{% extends 'registration/base.html' %}
{% block girisha %}

<!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_883231284_200013331818843182490_335833.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    `<form method="POST">
        {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/register/">Don't have an account? Sign up</a>
      <a href="/accounts/password_reset">Forgot Your Password?</a>
    </div>
{% endblock %}