{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css">
<link rel="stylesheet" href="{% static 'core/css/book_create.css' %}">

<div class="panel deep-purple"></div>
<main class="freeBird">
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-x-auto pull-xs-none">
                <div class="jumbotron">
                    <h2 class="h2-responsive"><strong>Create A New Book</strong></h2>
                    <hr class="m-y-2">

                    <!--Naked Form-->
                    <div class="card-block">

                        <!--Body-->
                        <form method = "POST">
                            {% csrf_token %}

                            <h5 class="h5-responsive">Book's Name</h5>
                            <!-- Basic textbox -->
                            <div class="md-form">
                                <input type="text" name="name" id="form1" class="form-control">
                                <label for="form1" class="">What is the name of your book?</label>
                            </div>
                            <!-- /.Basic textbox -->

                            <h5 class="h5-responsive">Author's Name</h5>
                            <div class="md-form">
                                <!-- <i class="fa fa-user prefix"></i> -->
                                <input type="text" name="author" id="form2" class="form-control">
                                <label for="form2">What is the author's name?</label>
                            </div>

                            <!--Email validation-->
                            <h5 class="h5-responsive">Language</h5>
                            <div class="md-form">
                                <!-- <i class="fa fa-envelope prefix"></i> -->
                                <input type="text" name="language" id="form3" class="form-control">
                                <label for="form3" data-error="wrong" data-success="right">Which language is this book written in?</label>
                            </div>

                            <!--Textarea with icon-->
                            <h5 class="h5-responsive">Date it was published</h5>
                            <div class="md-form">
                                 <!-- <i class="fa fa-pencil prefix"></i> -->
                                <input type="date" name="published_date" id="date-picker" class="form-control datepicker"></input>
                                <label for="date-picker"></label>
                            </div>

                            <h5 class="h5-responsive">Price</h5>
                            <div class="md-form">
                                <input type="number" name="price" id="form4" class="form-control">
                                <label for="form4">How much does it cost?</label>
                            </div>

                            <h5 class="h5-responsive">Description</h5>
                            <div class="md-form">
                                <textarea type="text" name="description" id="form5" class="md-textarea" ></textarea>
                                <label id="form5">What is the description?</label>
                            </div>

                            <div class="text-xs-left">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                        <div class="m-y-2">
                            <p class="small-text small-thin-text" style="font-weight:300">Never submit your passwords through Google Forms</p>
                        </div>

                    </div>
                    <!--Naked Form-->

                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js"></script>