<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<style>
    .panel {
        display:block;
        height:278px;
        text-align: center
    }

    .freeBird {
        margin-top:-100px;
    }
</style>


<div class="panel">
    <h1>Create New Book</h1>
</div>
<main class="freeBird">
    <div class="container">
        <div class="row">
            <div class="col-md-7 m-x-auto pull-xs-none">
                <div class="jumbotron">
    <form class="col s12" method="POST">
        {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
          <input id="book_name" type="text" name="name" class="validate">
          <label for="book_name">Book's Name</label>
        </div>
        <div class="input-field col s6">
          <input id="author_name" name="author" type="text" class="validate">
          <label for="author_name">Authors's Name</label>
        </div>
      </div>
      <div class="row">
            <div class="input-field col s4">
              <input id="language" name="language" type="text" class="validate">
              <label for="language">Language</label>
            </div>
            <div class="input-field col s4">
              <input id="price" name="price" type="number" step="any" class="validate">
              <label for="price">Price</label>
            </div>
            <div class="input-field col s4">
                <input id="pub_date" name="published_date" type="date" class="validate">
            <label for="pub_date">Date</label>
            </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="description" name="description" type="text" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <input type="submit" value="submit" class="btn btn-primary">
          </div>
      </div>
    </form>
  </div>
        </div>
        </div>
        </div>
        </main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
